.specialty-child {
  cursor: pointer;
  text-align: center;
  .specialty-name {
    padding: 10px 0;
    &:hover {
      color: #45c3d2;
    }
  }
  .section-specialty {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
